@charset "utf-8";
@import 'variables','reset','target'; 
 

body {
    font-family: 'Montserrat', sans-serif;
    background:url($url + 'mvis_02.jpg') no-repeat fixed top right/cover;
    // background-color: red;
    // padding: 20px 25px;
}   


.header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        // display: block;
        width: 100%;
        max-width: 142px;
    }

    .header__menu__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__menu__nav {
        display: flex;
        // gap: 20px;
        height: 72px;
        font-size: 17px;
        line-height: 72px;

        .header__nav__main {
            margin-right: 20px;
        }
    }

    .header__nav__sub {
        display: none;
    }
}

.main {
    .main__container {
        width: 100vw;
        height: 50vw;
        padding: 20px 25px;

    
        .main__title {
            color: #fff;

            h2 {
                font-size: 72px;
                font-weight: 600;
                line-height: 80px;
                // width: 900px;
                // height: 140px;                
            }

            p {
                font-size: 22px;
                line-height: 26px;
                margin-top: 30px;
            }
        }
    }
}

// .btnHam__wrap {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     outline:1px solid red;
//     transform:translate(-50%,-50%);
// }

.btnHam {
    display: block; 
    width: 40px; 
    margin:20px; 
    padding:20px; 
}

.btnHam span { 
    display: block;
    width:100%;
    height: 3px;
    background-color: #fff; 
    transition: all 0.2s linear; 
}

.btnHam .b {
    margin:12px 0;
}

.btnHam:active .a {
    transform:translateX(9px) rotate(32deg);
}
.btnHam:active .b {
    width:0;
}
.btnHam:active .c {
    transform:translateX(9px) rotate(-32deg);
}

