@charset "utf-8";
@import 'variables','reset','target'; 
 

body {
    font-family: 'Montserrat', sans-serif;
    // height: 100%;
    // overflow: hidden;
    // background-color: red;
    // padding: 20px 25px;
}   


.header {
    width: 100%;
    padding: 20px 0;
    // position: fixed;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    img {
        display: block;
        width: 100%;
        max-width: 142px;
    }

    .header__menu__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__menu__nav {
        display: flex;
        font-size: 17px;

        .header__nav__main {
            margin-right: 20px;
        }
    }

    .header__nav__sub {
        display: none;
    }
}

.main {
    
    .main__container {
        // position: relative;
        // height: 100vw;
        background:url($url + 'mvis_02.jpg') no-repeat center center/cover;
        padding: 20px 25px;
        // width: auto;
        display: flex;
        align-items: center;

        .main__title__wrap{
            // background: chartreuse;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
    
            .main__title {
                // position: absolute;
                // top: 100px;
                color: #fff;

                h2 {
                    font-size: 4em;
                    font-weight: 600;
                    line-height: 1.2;
                    // width: 900px;
                    // height: 140px;                
                }

                p {
                    font-size: 22px;
                    line-height: 26px;
                    margin-top: 30px;
                }

                .button__wrap {
                    display: inline;
                    transform: translateY(-50%) rotate(270deg);

            
                }
            }
        }
    }
}

// .btnHam__wrap {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     outline:1px solid red;
//     transform:translate(-50%,-50%);
// }

.btnHam {
    display: block; 
    width: 30px; 
    // margin:20px; 
    // padding:20px; 
}

.btnHam span {
    display: block;
    width:100%;
    height: 2px;
    background-color: #fff; 
    transition: all 0.2s linear; 
}

.btnHam .b {
    margin:8px 0;
}

// .btnHam:active .a {
//     transform:translateX(9px) rotate(32deg);
// }
// .btnHam:active .b {
//     width:0;
// }
// .btnHam:active .c {
//     transform:translateX(9px) rotate(-32deg);
// }

