@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
/* 
    원래 css 주석문
*/
body, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li,
blockquote, fieldset {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

mark {
  background-color: transparent;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

h1, h2, h3, h4, h5, h6, strong, b, th {
  font-weight: inherit;
}

ul, ol, li {
  list-style: none;
}

i, em, address {
  font-style: inherit;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th, td {
  border: 1px solid red;
}

fieldset {
  border: none;
  /* border:0 */
  /* border: width style color */
}

input[type=text]::placeholder {
  color: olive;
  font-style: italic;
}

input[type=text]:focus {
  background-color: olive;
  color: #fff;
}

button {
  cursor: pointer;
}

.blind, hr, legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

q:before,
q:after {
  content: "";
}

.target {
  background-color: dodgerblue;
  color: #fff;
}
.target .inner {
  border: 1px solid #fff;
  background-color: #73dab8;
  border-radius: 15px;
  padding: 20px;
  height: 200px;
  overflow: auto;
  margin: 100px auto;
  max-width: 500px;
}
.target h1 {
  font-size: 100px;
  text-align: center;
}
.target p {
  line-height: 1.2;
  margin: 10px 0;
}
.target p:first-of-type {
  background-color: #4bcfa3;
}
.target img {
  max-width: 100%;
  margin: 10px 0;
}

.grayBox div:nth-child(1) {
  background-color: #333;
}
.grayBox div:nth-child(2) {
  background-color: #666;
}
.grayBox div:nth-child(3) {
  background-color: #999;
}
.grayBox div:nth-child(4) {
  background-color: #aaa;
}
.grayBox div:nth-child(5) {
  background-color: #d8d8d8;
}
.grayBox div:nth-child(6) {
  background-color: #f1f1f1;
}

body {
  font-family: "Montserrat", sans-serif;
  background: url("../images/mvis_02.jpg") no-repeat fixed top right/cover;
}

.header {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  width: 100%;
  max-width: 142px;
}
.header .header__menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__menu__nav {
  display: flex;
  height: 72px;
  font-size: 17px;
  line-height: 72px;
}
.header .header__menu__nav .header__nav__main {
  margin-right: 20px;
}
.header .header__nav__sub {
  display: none;
}

.main .main__container {
  width: 100vw;
  height: 50vw;
  padding: 20px 25px;
}
.main .main__container .main__title {
  color: #fff;
}
.main .main__container .main__title h2 {
  font-size: 72px;
  font-weight: 600;
  line-height: 80px;
}
.main .main__container .main__title p {
  font-size: 22px;
  line-height: 26px;
  margin-top: 30px;
}

.btnHam {
  display: block;
  width: 40px;
  margin: 20px;
  padding: 20px;
}

.btnHam span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.2s linear;
}

.btnHam .b {
  margin: 12px 0;
}

.btnHam:active .a {
  transform: translateX(9px) rotate(32deg);
}

.btnHam:active .b {
  width: 0;
}

.btnHam:active .c {
  transform: translateX(9px) rotate(-32deg);
}

/*# sourceMappingURL=common.css.map */
